/* Navbar Container */
.navbar {
  background-color: black;
  color: white;
  padding: 10px 20px;
}

/* Navbar Navigation */
.navbar_nav {
  display: flex;
  flex-wrap: wrap; /* Wrap items to next line if there's not enough space */
  justify-content: space-between; /* Distribute items evenly */
}

/* Navbar Item */
.nav-item {
  margin-right: 10px; /* Adjust margin between items */
}

/* Navbar Link */
.nav-link {
  color: white;
  text-decoration: none;
}

/* Navbar Link Hover */
.nav-link:hover {
  text-decoration: underline;
}

/* Navbar Link Colors */
a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
